<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqq9H_hjXrzD5SQWgliNo2NPhwoCGH9jo</string>
	<key>GCM_SENDER_ID</key>
	<string>925635400314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cycloneV1</string>
	<key>PROJECT_ID</key>
	<string>cocylce-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cocylce-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925635400314:ios:594cfe4daa0a146ddaa1c3</string>
</dict>
</plist>